<main class="container">
  <%= link_to sanitize("&larr; Back to users"), users_path %>

  <div class="header">
    <h1>New user</h1>
  </div>
  <%= turbo_frame_tag "first_turbo_frame" do %>
  <%= render "form", user: @user %>
    <% end %>
</main>