<%= turbo_frame_tag dom_id(@user) do %>
  <%= render @user %>
<% end %>
<div class="container">
  <div class="row mt-2">
    <div class="col">
      <%= link_to "Edit user", edit_user_path(@user), class: 'btn btn-primary' %>
    </div>
    <div class="col text-end">
      <%= link_to "Back to users", users_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>